* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: #eef1f5;
  color: #0C1524;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.welcome-message {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #eef1f5;
}

.content {
  text-align: left;
  max-width: 50%;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.stars {
  margin: 0 10px;
  color: #f39c12;
}

h1 {
  font-size: 2.5em;
  margin: 20px 0;
}

button.get-started {
  font-size: 1.2em;
  color: orange;
  background-color:#eef1f5;
  border-color: orange;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.image {
  max-width: 40%;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    text-align: center;
  }

  .content {
    max-width: 100%;
  }

  .image {
    max-width: 80%;
    margin-top: 20px;
  }
}