.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.contact-form {
  flex: 1;
  margin-right: 20px;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px 15px;
  background-color: white;
  border-radius: 4px;
  border-color:orange ;
}

.contact-info {
  flex: 1;
  text-align: center;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-info img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}